# Web Admin Environment Configuration Template
# Duplicate this file to .env and set your target API URL

# Azure Cloud Production Backend API
VITE_API_URL="https://rougekiebe.azurewebsites.net/api"

# Local Development Backend API
# VITE_API_URL="http://localhost:5291/api"
